html {
  --s: 77px;
  --c1: var(--primary-clr-1);
  --c2: var(--bkg-clr);

  --_c: var(--c1) calc(100% - var(--s) / 2) 99%, #0000;
  --_g: var(--s), #0000 calc(99% - var(--s) / 2), var(--_c);

  --scroll-offset: 0px;

  background: radial-gradient(var(--s) at 100% var(--_g)) 0 var(--scroll-offset),
    radial-gradient(calc(var(--s) / 4) at 50% calc(100% / 3), var(--_c))
      var(--s) calc(var(--scroll-offset)),
    radial-gradient(var(--s) at 0% var(--_g)) 0
      calc(3 * var(--s) + var(--scroll-offset)) var(--c2);
  background-size: calc(2 * var(--s)) calc(9 * var(--s) / 4),
    calc(2 * var(--s)) calc(3 * var(--s) / 4);
  background-attachment: fixed;
}

main {
  padding: var(--spacing-m);
  max-width: 1200px;
  margin: 0 auto;
}

main h1 {
  margin: var(--spacing-l) 0;
  padding: var(--spacing-ml);
  background-color: var(--bkg-clr);
  color: var(--primary-clr-2);
  border: 1px solid var(--primary-clr-1);
  border-radius: 100vw;
  font-size: clamp(2.5rem, 4.25vw + 0.2rem, 3.25rem);
  text-align: center;
  text-shadow: 5px 5px 1px
    color-mix(in hsl, var(--primary-clr-3) 35%, transparent 65%);
}

/* Header */
#header {
  position: sticky;
  inset: 0 auto auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--spacing-m);
  max-width: 1250px;
  margin-inline: auto;
  padding: var(--spacing-s) var(--spacing-m);
  background-color: color-mix(in hsl, var(--bkg-clr) 92%, transparent 8%);
  backdrop-filter: blur(9px);
  box-shadow: var(--shadow-1);
  border-block-end: 2px solid var(--primary-clr-1);
  border-inline: 2px solid var(--primary-clr-1);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  z-index: 100;
}

#header:hover {
  .moving-logo-left {
    animation: logo-A var(--trs-out-l) infinite alternate;
  }

  .moving-logo-right {
    animation: logo-B var(--trs-out-l) infinite alternate;
  }
}

.moving-logo-left,
.moving-logo-right {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 54px;

  &::before,
  &::after {
    position: absolute;
    inset: 0;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
  }
}

.moving-logo-left {
  margin-inline-end: calc(var(--spacing-s) / 2);

  &::before {
    background: url(../assets/images/logo-air-darker.webp) center / contain;
  }
}

.moving-logo-right {
  &::before {
    background: url(../assets/images/logo-bag-darker.webp) center / contain;
  }
}

#nav-bar ul {
  display: flex;
  gap: var(--spacing-m);
  align-items: center;
  user-select: none;
}

#nav-bar .nav-link {
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  text-decoration: none;
  font-weight: 700;
  font-size: var(--fz-m);
  border: 2px solid transparent;
  transition: var(--trs-out);
}

#nav-bar .nav-link:hover {
  background-color: var(--primary-clr-1);
  color: var(--bkg-clr);
  border-color: var(--primary-clr-2);
}

/* Sections */
section {
  margin: var(--spacing-xl) 0;
  padding: var(--spacing-l);
  border-radius: var(--border-radius);
}

section:first-of-type {
  margin: 0;
}

section h2 {
  color: var(--primary-clr-2);
  font-size: clamp(2.1875rem, 5vw + 0.1875rem, 2.75rem);
  margin-block-end: var(--spacing-l);
  text-align: center;
}

#welcome {
  background: linear-gradient(
    135deg,
    var(--primary-clr-1),
    var(--primary-clr-2)
  );
  color: var(--bkg-clr);
  box-shadow: var(--shadow-2);
}

#welcome h2 {
  color: var(--bkg-clr);
}

#welcome p {
  /* Same as .reveal-text */
  margin: 0 auto var(--spacing-m);
  font-size: var(--fz-m);
  text-align: center;
  text-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.3);
}

.reveal-text {
  color: transparent;
  background: linear-gradient(to bottom, var(--bkg-clr) 50%, transparent 50%);
  background-size: 100% 200%;
  background-position: center 100%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: reveal-text 3000ms cubic-bezier(0.5, 1, 0.89, 1) forwards;
  opacity: 0;
  animation-delay: 300ms;
  transition: opacity var(--trs-out-hero-text);
}

.reveal-text:nth-of-type(2) {
  animation-delay: 3300ms;
}

/* Features Grid */
.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--spacing-l);
  margin-block-start: var(--spacing-l);
}

.feature {
  background-color: var(--primary-clr-1);
  padding: var(--spacing-l) var(--spacing-l) var(--spacing-m);
  border-radius: var(--border-radius);
  box-shadow: var(--inner-shadow-1);
}

.feature h3 {
  font-size: var(--fz-l);
  margin-block-end: var(--spacing-m);
  color: var(--bkg-clr);
  text-align: center;
}

/* Products Section */
#products {
  background-color: var(--bkg-clr);
  box-shadow: var(--shadow-1);
  border: 1px solid var(--primary-clr-1);
}

/* Video Container */
.video-container {
  display: flex;
  justify-content: center;
  margin: var(--spacing-l) 0;
}

#video {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-2);
}

/* Product Grid */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: var(--spacing-l);
  margin: var(--spacing-xl) 0;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(135deg, var(--extra-clr-1), var(--extra-clr-2));
  color: var(--bkg-clr);
  padding: var(--spacing-l) var(--spacing-l) var(--spacing-ml) var(--spacing-l);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-1);
  text-align: center;
  transition: var(--trs-in);
  cursor: pointer;
  will-change: scale, transform;
}

.product:hover {
  scale: 1.03;
  transform: translateY(-5.5px);
  box-shadow: var(--shadow-2);
}

.product h3 {
  font-size: var(--fz-l);
  margin-block-end: var(--spacing-m);
  color: var(--bkg-clr);
  will-change: scale, transform;
}

.product p {
  margin-block-end: var(--spacing-ml);
  font-size: var(--fz-ms);
  will-change: scale, transform;
}

.price {
  position: relative;
  width: 100%;
  height: 1.15lh;
  font-size: var(--fz-l);
  font-weight: 700;
  color: var(--accent-clr-1);
  background-color: var(--extra-clr-2);
  border: 1px solid var(--extra-clr-3);
  border-radius: var(--border-radius);
  text-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.3);
  will-change: scale, transform, filter;
  user-select: none;
}

.price span {
  position: absolute;
  inset: 0;
  letter-spacing: 0.05em;
}

/* Apply filter only when active class is present */
.price span.dissolve-active[data-filter="0"] {
  filter: url(#dissolve-filter-0);
}

.price span.dissolve-active[data-filter="1"] {
  filter: url(#dissolve-filter-1);
}

.price span.dissolve-active[data-filter="2"] {
  filter: url(#dissolve-filter-2);
}

.buy-now {
  position: absolute;
  inset: 0;
  font-size: var(--fz-ml);
  opacity: 0;
  translate: 0 0.1lh;
  transition: opacity var(--trs-in) 800ms;
}

.product:hover .buy-now {
  opacity: 0.46;
}

.price-small {
  font-size: var(--fz-ms);
  vertical-align: middle;
}

.product-separator {
  border: 3px dotted var(--primary-clr-1);
  opacity: 0.83;
}

/* Testimonials */
.testimonials {
  margin-block-start: var(--spacing-l);
}

.testimonials h3 {
  text-align: center;
  color: var(--primary-clr-2);
  font-size: var(--fz-l);
  margin-block-end: var(--spacing-l);
}

.testimonial {
  background-color: var(--bkg-clr);
  padding: var(--spacing-m) var(--spacing-m) var(--spacing-m) var(--spacing-l);
  margin: var(--spacing-l) 0;
  border-inline: 4px solid var(--accent-clr-1);
  border-radius: 30px 305px 70px 225px / 250px 30px 305px 30px;
  box-shadow: var(--inner-shadow-1);

  &:last-child {
    margin-block-end: 0;
  }
}

.testimonial blockquote {
  font-style: italic;
  font-size: var(--fz-ms);
  margin: 0 0 var(--spacing-m) 0;
  color: var(--text-clr-dimish);
}

.testimonial cite {
  font-weight: bold;
  color: var(--accent-clr-2);
  font-style: normal;
}

/* Contact Section */
#contact {
  background: linear-gradient(135deg, var(--accent-clr-1), var(--accent-clr-2));
  color: var(--bkg-clr);
  box-shadow: var(--shadow-2);
}

#contact h2 {
  color: var(--bkg-clr);
}

#contact p {
  font-size: var(--fz-m);
  text-align: center;
  margin: 0 auto var(--spacing-l);
  text-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.3);
}

.newsletter-benefits {
  max-width: 700px;
  padding: var(--spacing-l);
  margin: var(--spacing-l) auto;
  background-color: var(--accent-clr-1);
  border-radius: var(--border-radius);
  box-shadow: var(--inner-shadow-2);
  text-align: center;
}

.flip {
  transform: scaleX(-1);
}

.newsletter-benefits h3 {
  color: var(--bkg-clr);
  margin-block-end: var(--spacing-m);
  font-size: var(--fz-l);
}

.newsletter-benefits ul {
  list-style: none;
}

.newsletter-benefits li {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  font-size: var(--fz-m);
}

.newsletter-benefits li span {
  translate: 0 -0.45rem;
  font-size: 1.5em;
}

/* Form Styling */
.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-m);
  margin-block: var(--spacing-l) var(--spacing-xl);
}

.form-group label {
  border: 2px solid var(--accent-clr-3);
  font-size: var(--fz-ms);
  font-weight: 500;
  text-align: center;
}

#email {
  min-width: 460px;
  margin-block-end: var(--spacing-m);
  padding: 0.75rem 1rem;
  border: 2px solid var(--bkg-clr);
  border-radius: var(--border-radius);
  font-size: var(--fz-s);
  background-color: var(--bkg-clr);
  color: var(--text-clr);
  transition: 125ms;
}

#email:focus {
  outline: none;
  border-color: var(--primary-clr-1);
  box-shadow: 0 0 0 3px
    color-mix(in hsl, var(--primary-clr-3) 55%, transparent 45%);
}

.button-group {
  display: flex;
  gap: var(--spacing-l);
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-inline: var(--spacing-m);
}

#submit {
  padding: 0.575rem 2.125rem;
  font-size: var(--fz-ms);
  font-weight: 600;
  border-radius: var(--border-radius);
  background: linear-gradient(
    180deg,
    var(--primary-clr-1),
    var(--primary-clr-2)
  );
  color: var(--bkg-clr);
  transition: var(--trs-m);
  box-shadow: var(--shadow-3);
}

#submit:hover {
  background: linear-gradient(
    180deg,
    var(--primary-clr-2),
    var(--primary-clr-1)
  );
}

/* This would be the legitimate submit button */
#glitch-submit {
  padding: 0.575rem 1.5rem;
  font-size: var(--fz-ms);
  border: 2px dashed var(--accent-clr-3);
  border-radius: var(--border-radius);
  background-color: transparent;
  color: var(--accent-clr-submit);
  transition: background-color var(--trs-m), color var(--trs-m);

  &:focus {
    outline: none;
  }
}

#glitch-submit:not(:hover) span:not(.question-mark) {
  animation: glitch-opacity 3000ms infinite;
}

#glitch-submit:not(:hover) span:nth-child(odd) {
  animation-delay: 300ms;
  animation-duration: 2300ms;
}

#glitch-submit:not(:hover) span:nth-child(even) {
  animation-delay: 2700ms;
  animation-duration: 1500ms;
}

#glitch-submit:not(:hover) span:nth-child(3n) {
  animation-delay: 1500ms;
  animation-duration: 1500ms;
}

#glitch-submit .question-mark {
  opacity: 0;
  transition: opacity var(--trs-m);
}

#glitch-submit:hover {
  background-color: var(--accent-clr-2);
  color: var(--bkg-clr);
  border-style: solid;
}

#glitch-submit:hover .question-mark {
  opacity: 1;
}

.disclaimer {
  font-size: var(--fz-s);
  text-align: center;
  margin: var(--spacing-l) auto 0;
  opacity: 0.8;
  font-style: italic;
  line-height: var(--ff-heading-lh);

  & b {
    font-size: var(--fz-l);
    font-style: normal;
    vertical-align: top;
  }
}

#joke-modal {
  position: fixed;
  inset: 0;
  margin: auto;
  padding: 0;
  border: none;
  background: transparent;
  overflow: visible;
  z-index: 100;
}

#joke-modal::backdrop {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  opacity: 0;
  transition: opacity var(--trs-m);
}

#joke-modal[open] {
  animation: complex-entrance 1850ms cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
}

#joke-modal[open]::backdrop {
  opacity: 1;

  @starting-style {
    opacity: 0;
  }
}

#joke-modal[open] .modal-content {
  box-shadow: var(--shadow-2);

  @starting-style {
    box-shadow: none;
  }
}

.modal-content {
  max-width: 90vw;
  width: 25rem;
  padding: var(--spacing-l);
  background-color: var(--bkg-clr);
  border: 2px solid var(--primary-clr-1);
  border-radius: var(--border-radius);
  box-shadow: none;
  text-align: center;
  transition: box-shadow 1850ms cubic-bezier(0.34, 1.56, 0.64, 1) 150ms;
}

.modal-content p {
  font-size: var(--fz-m);
  color: var(--text-clr);
}

#close-modal {
  padding: 0.5rem 1rem;
  background: var(--primary-clr-1);
  color: var(--bkg-clr);
  border: none;
  border-radius: var(--border-radius);
  font-size: var(--fz-m);
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 81.25%;
  }

  body {
    --body-max-width: 100%;
    padding: 0 0.75rem;
  }

  #header:hover {
    .moving-logo-left,
    .moving-logo-right {
      animation: none;
    }
  }

  #nav-bar ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  .features {
    grid-template-columns: 1fr;
  }

  .product-grid {
    grid-template-columns: 1fr;
    margin-inline: var(--spacing-m);
  }

  #email {
    min-width: unset;
    width: 90%;
  }

  .disclaimer {
    & b {
      font-size: unset;
    }
  }
}

@media only screen and (max-width: 480px) {
  main {
    padding: 0.5rem;
  }

  section {
    padding: var(--spacing-m);
    margin: var(--spacing-l) 0;
  }

  section h2 {
    margin-block: var(--spacing-m) var(--spacing-ml);
  }

  #nav-bar ul {
    gap: 0;
  }

  .moving-logo-left,
  .moving-logo-right {
    width: 36px;
    height: 36px;
  }

  #nav-bar .nav-link {
    font-size: var(--fz-ms);
  }

  .testimonial {
    border-inline: 3px solid var(--accent-clr-1);
  }

  .newsletter-benefits {
    padding: var(--spacing-l) var(--spacing-ml);
  }

  .newsletter-benefits li {
    gap: var(--spacing-s);
  }

  .newsletter-benefits li span {
    translate: 0 0;
    font-size: 1.125em;
  }

  .form-group {
    margin-block: var(--spacing-l) var(--spacing-l);
  }
}

@media only screen and (max-width: 395px) {
  :target {
    scroll-margin-block: 6.5rlh;
  }

  #header {
    flex-direction: column;
    text-align: center;
  }
}

@keyframes logo-A {
  0% {
    translate: 0 0;
  }
  100% {
    translate: 7px 0;
  }
}

@keyframes logo-B {
  0% {
    translate: 0 0;
  }
  100% {
    translate: 16px 0;
  }
}

@keyframes reveal-text {
  from {
    opacity: 0;
    background-position: center 100%;
  }
  to {
    opacity: 1;
    background-position: center 0%;
  }
}

@keyframes glitch-opacity {
  0%,
  100% {
    opacity: 1;
  }
  5% {
    opacity: 0.5;
  }
  10% {
    opacity: 1;
  }
  15% {
    opacity: 0.45;
  }
  20% {
    opacity: 1;
  }
  45% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.65;
  }
  55% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  85% {
    opacity: 0.8;
  }
  90% {
    opacity: 1;
  }
}

@keyframes complex-entrance {
  0% {
    transform: translateY(60vh) scale(0.5) rotateX(0);
    opacity: 0;
  }
  55% {
    transform: translateY(-1.5vh) scale(1.01) rotateX(0);
    opacity: 1;
  }
  70% {
    transform: translateY(1vh) scale(0.98) rotate(-1.5deg) rotateX(0);
  }
  75% {
    transform: translateY(0.5vh) scale(0.97) rotate(1deg) rotateX(0);
  }
  90% {
    transform: translateY(-0.5vh) scale(1.02) rotate(0.5deg) rotateX(5deg);
  }
  100% {
    transform: translateY(0) scale(1) rotate(0) rotateX(0);
  }
}
